<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">

    <preference for="Test\Testimonials\Api\Data\TestimonialInterface" type="Test\Testimonial\Model\Testimonial" />
    <preference for="Test\Testimonials\Api\TestimonialRepositoryInterface" type="Test\Testimonials\Model\TestimonialRepository" />
    <virtualType name="TestimonialsGirdFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <virtualType name="TestimonialGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">Test\Testimonials\Model\Resource\Testimonial\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">TestimonialGirdFilterPool</argument><!--!!!-->
        </arguments>
    </virtualType>
    <virtualType name="Test\Testimonials\Model\ResourceModel\Testimonial\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">test_testimonials</argument>
            <argument name="resourceModel" xsi:type="string">Test\Testimonials\Model\ResourceModel\Testimonial</argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\Model\Entity\RepositoryFactory">
        <arguments>
            <argument name="entities" xsi:type="array">
                <item name="Test\Testimonials\Api\Data\TestimonialInterface" xsi:type="string">Test\Testimonials\Api\TestimonialRepositoryInterface</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="testimonials_testimonial_listing_data_source" xsi:type="string">Test\Testimonials\Model\ResourceModel\Testimonial\Grid\Collection</item>
            </argument>
        </arguments>
    </type>

</config>

